<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_css::header('')"></head>
<body>
	<div id="dpLTE" class="container-fluid" v-cloak>
		<table class="form" id="form">
			<tr>
	            <td class="formTitle">商品表的商品ID<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="商品表的商品ID" v-model="liteMallGrouponRules.goodsId" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">商品名称<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="商品名称" v-model="liteMallGrouponRules.goodsName" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">商品图片或者商品货品图片<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="商品图片或者商品货品图片" v-model="liteMallGrouponRules.picUrl" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">优惠金额<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="优惠金额" v-model="liteMallGrouponRules.discount" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">达到优惠条件的人数<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="达到优惠条件的人数" v-model="liteMallGrouponRules.discountMember" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">团购过期时间<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="团购过期时间" v-model="liteMallGrouponRules.expireTime" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
		</table>
	</div>
	<div th:include="include/footer_js::footer"></div>
	<script th:src="@{/js/mall/grouponrules/edit.js}"></script>
</body>
</html>