<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_css::header('系统配置信息表')"></head>
<body>
	<div id="dpLTE" class="container-fluid" v-cloak>
		<table class="form" id="form">
			<tr>
	            <td class="formTitle">key<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="key" v-model="sysConfig.paramKey" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">value<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="value" v-model="sysConfig.paramValue" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">状态   0：隐藏   1：显示<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="状态   0：隐藏   1：显示" v-model="sysConfig.status" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">备注<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="备注" v-model="sysConfig.remark" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
		</table>
	</div>
	<div th:include="include/footer_js::footer"></div>
	<script th:src="@{/js/base/config/edit.js}"></script>
</body>
</html>