<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kotall.rms.common.dao.sys.SysJobLogMapper">
	
	<select id="list" resultType="com.kotall.rms.common.entity.sys.SysJobLogEntity">
		SELECT
			log_id,
			job_id,
			bean_name,
			method_name,
			params,
			status,
			error,
			times,
			create_time
		FROM
			quartz_job_log
		<where>
			<if test="name != null and name.trim() != ''">
				AND bean_name LIKE concat('%',#{name},'%')
			</if>
		</where>
		ORDER BY
			create_time DESC
	</select>
	
	<insert id="insert">
		INSERT INTO quartz_job_log (
			job_id,
			bean_name,
			method_name,
			params,
			status,
			error,
			times,
		    create_time
		)
		VALUES (
			#{jobId},
			#{beanName}, 
			#{methodName},
			#{params}, 
			#{status}, 
			#{error}, 
			#{times}, 
			NOW()
		)
	</insert>
	
	<delete id="batchDelete">
		DELETE
		FROM
			quartz_job_log
		WHERE
			log_id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
	
	<delete id="batchDeleteAll">
		DELETE
		FROM
			quartz_job_log
	</delete>

	<select id="countTotal" resultType="int">
		SELECT
			COUNT(1)
		FROM
			quartz_job_log
		<where>
			<if test="name != null and name.trim() != ''">
				AND bean_name LIKE concat('%',#{name},'%')
			</if>
		</where>
	</select>

</mapper>