<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kotall.rms.common.dao.sys.SysLogMapper">
	
	<select id="list" resultType="com.kotall.rms.common.entity.sys.SysLogEntity">
		SELECT
			id,
			user_id,
			username,
			operation,
			time,
			method,
			params,
			ip,
		    create_time
		FROM
			sys_log
		<where>
			<if test="username != null and username.trim() != ''">
				AND username LIKE concat('%',#{username},'%')
				OR operation LIKE concat('%',#{username},'%')
			</if>
		</where>
		ORDER BY
		    create_time DESC
	</select>
	
	<insert id="insert">
		INSERT INTO sys_log (
			user_id,
			username,
			operation,
			time,
			method,
			params,
			ip,
		    create_time
		)
		VALUES (
			#{userId},
			#{username}, 
			#{operation},
			#{time}, 
			#{method}, 
			#{params}, 
			#{ip}, 
			NOW()
		)
	</insert>
	
	<delete id="batchDelete">
		DELETE
		FROM
			sys_log
		WHERE
			id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
	
	<delete id="batchDeleteAll">
		DELETE
		FROM
			sys_log
	</delete>

	<select id="countTotal" resultType="int">
		SELECT
			COUNT(1)
		FROM
			sys_log
		<where>
			<if test="username != null and username.trim() != ''">
				AND username LIKE concat('%',#{username},'%')
				OR operation LIKE concat('%',#{username},'%')
			</if>
		</where>
	</select>

</mapper>