<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kotall.rms.common.dao.litemall.LiteMallCollectMapper">
	
	<select id="listForPage" resultType="com.kotall.rms.common.entity.litemall.LiteMallCollectEntity">
		SELECT
			`id`, 
			`store_id`,
			`user_id`,
			`value_id`, 
			`type`, 
			`add_time`, 
			`update_time`, 
			`deleted`
		FROM
			lite_mall_collect
		<where>
			<if test="storeId != null "> `store_id` = #{storeId}</if>
			<if test="userId != null "> and `user_id` = #{userId}</if>
			<if test="valueId != null "> and `value_id` = #{valueId}</if>
			<if test="type != null "> and `type` = #{type}</if>
			<if test="sql_filter != null and sql_filter.trim() !='' ">
				and ${sql_filter}
			</if>
		</where>
		ORDER BY
			add_time DESC
	</select>
	
	<insert id="save">
		INSERT INTO lite_mall_collect (
			`store_id`,
			`user_id`,
			`value_id`,
			`type`, 
			`add_time`, 
			`update_time`, 
			`deleted`
		)
		VALUES (
			#{storeId},
			#{userId},
			#{valueId},
			#{type}, 
			#{addTime}, 
			#{updateTime}, 
			#{deleted}
		)
	</insert>
	
	<select id="getObjectById" resultType="com.kotall.rms.common.entity.litemall.LiteMallCollectEntity">
		SELECT
			`id`, 
			`store_id`,
			`user_id`,
			`value_id`, 
			`type`, 
			`add_time`, 
			`update_time`, 
			`deleted`
		FROM
			lite_mall_collect
		WHERE
			id = #{id}
	</select>
	
	<update id="update">
		UPDATE lite_mall_collect
	 	<set>
			<if test="storeId != null">`store_id` = #{storeId}, </if>
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="valueId != null">`value_id` = #{valueId}, </if>
			<if test="type != null">`type` = #{type}, </if>
			<if test="addTime != null">`add_time` = #{addTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="deleted != null">`deleted` = #{deleted}</if>
		</set>
		WHERE
			id = #{id}
	</update>
	
	<delete id="batchRemove">
		DELETE
		FROM
			lite_mall_collect
		WHERE
			id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<select id="list" resultType="com.kotall.rms.common.entity.litemall.LiteMallCollectEntity">
		SELECT
			`id`,
			`store_id`,
			`user_id`,
			`value_id`,
			`type`,
			`add_time`,
			`update_time`,
			`deleted`
		FROM
			lite_mall_collect
		<where>
			<if test="storeId != null "> `store_id` = #{storeId}</if>
			<if test="userId != null "> and `user_id` = #{userId}</if>
			<if test="valueId != null "> and `value_id` = #{valueId}</if>
			<if test="type != null "> and `type` = #{type}</if>
		</where>
		ORDER BY
			add_time DESC
	</select>

	<select id="countTotal" resultType="int">
		SELECT
			COUNT(1)
		FROM
			lite_mall_collect
		<where>
			<if test="storeId != null "> `store_id` = #{storeId}</if>
			<if test="userId != null "> and `user_id` = #{userId}</if>
			<if test="valueId != null "> and `value_id` = #{valueId}</if>
			<if test="type != null "> and `type` = #{type}</if>
		</where>
	</select>

</mapper>