<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kotall.rms.common.dao.litemall.LiteMallOrderGoodsMapper">
	
	<select id="listForPage" resultType="com.kotall.rms.common.entity.litemall.LiteMallOrderGoodsEntity">
		SELECT
			`id`, 
			`store_id`,
			`order_id`,
			`goods_id`, 
			`goods_name`, 
			`goods_sn`, 
			`product_id`, 
			`number`, 
			`price`, 
			`specifications`, 
			`pic_url`, 
			`comment`, 
			`add_time`, 
			`update_time`, 
			`deleted`
		FROM
			lite_mall_order_goods
		<where>
			<if test="storeId != null"> `store_id` = #{storeId}</if>
			<if test="orderId != null"> and `order_id` = #{orderId}</if>
			<if test="goodsId != null"> and  `goods_id` = #{goodsId}</if>
			<if test="deleted != null"> and  `deleted` = #{deleted}</if>
			<if test="sql_filter != null and sql_filter.trim() !='' "> and ${sql_filter}</if>
		</where>
		ORDER BY
			add_time DESC
	</select>
	
	<insert id="save">
		INSERT INTO lite_mall_order_goods (
			`store_id`,
			`order_id`,
			`goods_id`,
			`goods_name`, 
			`goods_sn`, 
			`product_id`, 
			`number`, 
			`price`, 
			`specifications`, 
			`pic_url`, 
			`comment`, 
			`add_time`, 
			`update_time`, 
			`deleted`
		)
		VALUES (
			#{storeId},
			#{orderId},
			#{goodsId},
			#{goodsName}, 
			#{goodsSn}, 
			#{productId}, 
			#{number}, 
			#{price}, 
			#{specifications}, 
			#{picUrl}, 
			#{comment}, 
			#{addTime}, 
			#{updateTime}, 
			#{deleted}
		)
	</insert>
	
	<select id="getObjectById" resultType="com.kotall.rms.common.entity.litemall.LiteMallOrderGoodsEntity">
		SELECT
			`id`, 
			`store_id`,
			`order_id`,
			`goods_id`, 
			`goods_name`, 
			`goods_sn`, 
			`product_id`, 
			`number`, 
			`price`, 
			`specifications`, 
			`pic_url`, 
			`comment`, 
			`add_time`, 
			`update_time`, 
			`deleted`
		FROM
			lite_mall_order_goods
		WHERE
			id = #{id}
	</select>
	
	<update id="update">
		UPDATE lite_mall_order_goods
	 	<set>
			<if test="storeId != null">`store_id` = #{storeId}, </if>
			<if test="orderId != null">`order_id` = #{orderId}, </if>
			<if test="goodsId != null">`goods_id` = #{goodsId}, </if>
			<if test="goodsName != null">`goods_name` = #{goodsName}, </if>
			<if test="goodsSn != null">`goods_sn` = #{goodsSn}, </if>
			<if test="productId != null">`product_id` = #{productId}, </if>
			<if test="number != null">`number` = #{number}, </if>
			<if test="price != null">`price` = #{price}, </if>
			<if test="specifications != null">`specifications` = #{specifications}, </if>
			<if test="picUrl != null">`pic_url` = #{picUrl}, </if>
			<if test="comment != null">`comment` = #{comment}, </if>
			<if test="addTime != null">`add_time` = #{addTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="deleted != null">`deleted` = #{deleted}</if>
		</set>
		WHERE
			id = #{id}
	</update>
	
	<delete id="batchRemove">
		DELETE
		FROM
			lite_mall_order_goods
		WHERE
			id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<select id="list" resultType="com.kotall.rms.common.entity.litemall.LiteMallOrderGoodsEntity">
		SELECT
			`id`,
			`store_id`,
			`order_id`,
			`goods_id`,
			`goods_name`,
			`goods_sn`,
			`product_id`,
			`number`,
			`price`,
			`specifications`,
			`pic_url`,
			`comment`,
			`add_time`,
			`update_time`,
			`deleted`
		FROM
			lite_mall_order_goods
		<where>
			<if test="storeId != null"> `store_id` = #{storeId}</if>
			<if test="orderId != null"> and `order_id` = #{orderId}</if>
			<if test="goodsId != null"> and  `goods_id` = #{goodsId}</if>
			<if test="deleted != null"> and  `deleted` = #{deleted}</if>
		</where>
		ORDER BY
			add_time DESC
	</select>

	<select id="countTotal" resultType="com.kotall.rms.common.entity.litemall.LiteMallOrderGoodsEntity">
		SELECT
			COUNT(1)
		FROM
			lite_mall_order_goods
		<where>
			<if test="storeId != null"> `store_id` = #{storeId}</if>
			<if test="orderId != null"> and `order_id` = #{orderId}</if>
			<if test="goodsId != null"> and  `goods_id` = #{goodsId}</if>
			<if test="deleted != null"> and  `deleted` = #{deleted}</if>
		</where>
	</select>

</mapper>