<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kotall.rms.common.dao.litemall.LiteMallFeedbackMapper">
	
	<select id="listForPage" resultType="com.kotall.rms.common.entity.litemall.LiteMallFeedbackEntity">
		SELECT
			`id`, 
			`user_id`, 
			`username`, 
			`mobile`, 
			`feed_type`, 
			`content`, 
			`status`, 
			`has_picture`, 
			`pic_urls`, 
			`add_time`, 
			`update_time`, 
			`deleted`
		FROM
			lite_mall_feedback
		<if test="sql_filter != null and sql_filter.trim() !='' ">
			WHERE ${sql_filter}
		</if>
		ORDER BY
			id DESC
	</select>
	
	<insert id="save">
		INSERT INTO lite_mall_feedback (
			`user_id`, 
			`username`, 
			`mobile`, 
			`feed_type`, 
			`content`, 
			`status`, 
			`has_picture`, 
			`pic_urls`, 
			`add_time`, 
			`update_time`, 
			`deleted`
		)
		VALUES (
			#{userId}, 
			#{username}, 
			#{mobile}, 
			#{feedType}, 
			#{content}, 
			#{status}, 
			#{hasPicture}, 
			#{picUrls}, 
			#{addTime}, 
			#{updateTime}, 
			#{deleted}
		)
	</insert>
	
	<select id="getObjectById" resultType="com.kotall.rms.common.entity.litemall.LiteMallFeedbackEntity">
		SELECT
			`id`, 
			`user_id`, 
			`username`, 
			`mobile`, 
			`feed_type`, 
			`content`, 
			`status`, 
			`has_picture`, 
			`pic_urls`, 
			`add_time`, 
			`update_time`, 
			`deleted`
		FROM
			lite_mall_feedback
		WHERE
			id = #{id}
	</select>
	
	<update id="update">
		UPDATE lite_mall_feedback
	 	<set>
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="username != null">`username` = #{username}, </if>
			<if test="mobile != null">`mobile` = #{mobile}, </if>
			<if test="feedType != null">`feed_type` = #{feedType}, </if>
			<if test="content != null">`content` = #{content}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="hasPicture != null">`has_picture` = #{hasPicture}, </if>
			<if test="picUrls != null">`pic_urls` = #{picUrls}, </if>
			<if test="addTime != null">`add_time` = #{addTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="deleted != null">`deleted` = #{deleted}</if>
		</set>
		WHERE
			id = #{id}
	</update>
	
	<delete id="batchRemove">
		DELETE
		FROM
			lite_mall_feedback
		WHERE
			id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>