<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kotall.rms.common.dao.litemall.LiteMallGoodsMapper">
	
	<select id="list" resultType="com.kotall.rms.common.entity.litemall.LiteMallGoodsEntity">
		SELECT
			`id`, 
			`store_id`, 
			`goods_sn`, 
			`name`, 
			`category_id`, 
			`brand_id`, 
			`gallery`, 
			`keywords`, 
			`brief`, 
			`is_on_sale`,
			`sort_order`, 
			`pic_url`, 
			`share_url`, 
			`is_new`, 
			`is_hot`, 
			`unit`, 
			`counter_price`, 
			`retail_price`, 
			`detail`, 
			`add_time`, 
			`update_time`, 
			`deleted`
		FROM
			lite_mall_goods
		<where>
			<if test="isOnSale != null "> `is_on_sale` = #{isOnSale}</if>
			<if test="deleted != null "> and `deleted` = #{deleted}</if>
			<if test="isNew != null "> and `is_new` = #{isNew}</if>
			<if test="isHot != null "> and `is_hot` = #{isHot}</if>
			<if test="ids != null and ids.size() > 0 ">
				and `id` in
				<foreach collection="ids" item="item" separator="," open="(" close=")">
                   #{item}
				</foreach>
			</if>
			<if test="sql_filter != null and sql_filter.trim() !='' "> and ${sql_filter}</if>
		</where>
		ORDER BY
			add_time DESC
	</select>
	
	<insert id="insert">
		INSERT INTO lite_mall_goods (
			`store_id`, 
			`goods_sn`, 
			`name`, 
			`category_id`, 
			`brand_id`, 
			`gallery`, 
			`keywords`, 
			`brief`, 
			`is_on_sale`, 
			`sort_order`, 
			`pic_url`, 
			`share_url`, 
			`is_new`, 
			`is_hot`, 
			`unit`, 
			`counter_price`, 
			`retail_price`, 
			`detail`, 
			`add_time`, 
			`update_time`, 
			`deleted`
		)
		VALUES (
			#{storeId}, 
			#{goodsSn}, 
			#{name}, 
			#{categoryId}, 
			#{brandId}, 
			#{gallery}, 
			#{keywords}, 
			#{brief}, 
			#{isOnSale}, 
			#{sortOrder}, 
			#{picUrl}, 
			#{shareUrl}, 
			#{isNew}, 
			#{isHot}, 
			#{unit}, 
			#{counterPrice}, 
			#{retailPrice}, 
			#{detail}, 
			#{addTime}, 
			#{updateTime}, 
			#{deleted}
		)
	</insert>

	<insert id="add" useGeneratedKeys="true" keyProperty="id" >
		INSERT INTO lite_mall_goods (
		`store_id`,
		`goods_sn`,
		`name`,
		`category_id`,
		`brand_id`,
		`gallery`,
		`keywords`,
		`brief`,
		`is_on_sale`,
		`sort_order`,
		`pic_url`,
		`share_url`,
		`is_new`,
		`is_hot`,
		`unit`,
		`counter_price`,
		`retail_price`,
		`detail`,
		`add_time`,
		`update_time`,
		`deleted`
		)
		VALUES (
		#{storeId},
		#{goodsSn},
		#{name},
		#{categoryId},
		#{brandId},
		#{gallery},
		#{keywords},
		#{brief},
		#{isOnSale},
		#{sortOrder},
		#{picUrl},
		#{shareUrl},
		#{isNew},
		#{isHot},
		#{unit},
		#{counterPrice},
		#{retailPrice},
		#{detail},
		#{addTime},
		#{updateTime},
		#{deleted}
		)
	</insert>
	
	<select id="getById" resultType="com.kotall.rms.common.entity.litemall.LiteMallGoodsEntity">
		SELECT
			`id`, 
			`store_id`, 
			`goods_sn`, 
			`name`, 
			`category_id`, 
			`brand_id`, 
			`gallery`, 
			`keywords`, 
			`brief`, 
			`is_on_sale`, 
			`sort_order`, 
			`pic_url`, 
			`share_url`, 
			`is_new`, 
			`is_hot`, 
			`unit`, 
			`counter_price`, 
			`retail_price`, 
			`detail`, 
			`add_time`, 
			`update_time`, 
			`deleted`
		FROM
			lite_mall_goods
		WHERE
			id = #{id}
	</select>
	
	<update id="update">
		UPDATE lite_mall_goods
	 	<set>
			<if test="storeId != null">`store_id` = #{storeId}, </if>
			<if test="goodsSn != null">`goods_sn` = #{goodsSn}, </if>
			<if test="name != null">`name` = #{name}, </if>
			<if test="categoryId != null">`category_id` = #{categoryId}, </if>
			<if test="brandId != null">`brand_id` = #{brandId}, </if>
			<if test="gallery != null">`gallery` = #{gallery}, </if>
			<if test="keywords != null">`keywords` = #{keywords}, </if>
			<if test="brief != null">`brief` = #{brief}, </if>
			<if test="isOnSale != null">`is_on_sale` = #{isOnSale}, </if>
			<if test="sortOrder != null">`sort_order` = #{sortOrder}, </if>
			<if test="picUrl != null">`pic_url` = #{picUrl}, </if>
			<if test="shareUrl != null">`share_url` = #{shareUrl}, </if>
			<if test="isNew != null">`is_new` = #{isNew}, </if>
			<if test="isHot != null">`is_hot` = #{isHot}, </if>
			<if test="unit != null">`unit` = #{unit}, </if>
			<if test="counterPrice != null">`counter_price` = #{counterPrice}, </if>
			<if test="retailPrice != null">`retail_price` = #{retailPrice}, </if>
			<if test="detail != null">`detail` = #{detail}, </if>
			<if test="addTime != null">`add_time` = #{addTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="deleted != null">`deleted` = #{deleted}</if>
		</set>
		WHERE
			id = #{id}
	</update>
	
	<delete id="batchDelete">
		DELETE g.*,s.*,p.*,a.*
		FROM
			lite_mall_goods g,
			lite_mall_goods_specification s,
			lite_mall_goods_product p,
			lite_mall_goods_attribute a
		WHERE
			g.id = s.goods_id
		    AND s.goods_id = p.goods_id
			AND p.goods_id = a.goods_id
		    and
			g.id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
	<delete id="unionDelete">
		DELETE s.*,p.*,a.*
		FROM
		lite_mall_goods_specification s,
		lite_mall_goods_product p,
		lite_mall_goods_attribute a
		WHERE
		s.goods_id = p.goods_id
		AND p.goods_id = a.goods_id and s.goods_id = #{id}
	</delete>

	<select id="countTotal" resultType="int">
		SELECT
			COUNT(1)
		FROM
			lite_mall_goods
		<where>
			<if test="isOnSale != null "> `is_on_sale` = #{isOnSale}</if>
			<if test="deleted != null "> and `deleted` = #{deleted}</if>
			<if test="isNew != null "> and `is_new` = #{isNew}</if>
			<if test="isHot != null "> and `is_hot` = #{isHot}</if>
			<if test="keywords != null "> and `keywords` = #{keywords}</if>
			<if test="ids != null and ids.size() > 0 ">
				and `id` in
				<foreach collection="ids" item="item" separator="," open="(" close=")">
					#{item}
				</foreach>
			</if>
		</where>
	</select>

	<select id="queryCategoryIds" resultType="java.lang.Integer">
		SELECT
			distinct(`category_id`)
		FROM
			lite_mall_goods
		<where>
			<if test="isOnSale != null "> `is_on_sale` = #{isOnSale}</if>
			<if test="deleted != null "> and `deleted` = #{deleted}</if>
			<if test="isNew != null "> and `is_new` = #{isNew}</if>
			<if test="isHot != null "> and `is_hot` = #{isHot}</if>
			<if test="keywords != null "> and `keywords` = #{keywords}</if>
			<if test="ids != null and ids.size() > 0 ">
				and `id` in
				<foreach collection="ids" item="item" separator="," open="(" close=")">
					#{item}
				</foreach>
			</if>
		</where>
	</select>

</mapper>