<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kotall.rms.common.dao.litemall.LiteMallGrouponRulesMapper">
	
	<select id="listForPage" resultType="com.kotall.rms.common.entity.litemall.LiteMallGrouponRulesEntity">
		SELECT
			`id`, 
			`store_id`,
			`goods_id`,
			`goods_name`, 
			`pic_url`, 
			`discount`, 
			`discount_member`, 
			`add_time`, 
			`update_time`, 
			`expire_time`, 
			`deleted`
		FROM
			lite_mall_groupon_rules
		<where>
			<if test="storeId != null "> `store_id` = #{storeId}</if>
			<if test="deleted != null "> and `deleted` = #{deleted}</if>
		</where>
		ORDER BY
			add_time DESC
	</select>
	
	<insert id="save">
		INSERT INTO lite_mall_groupon_rules (
			`store_id`,
			`goods_id`,
			`goods_name`,
			`pic_url`, 
			`discount`, 
			`discount_member`, 
			`add_time`, 
			`update_time`, 
			`expire_time`, 
			`deleted`
		)
		VALUES (
			#{storeId},
			#{goodsId},
			#{goodsName},
			#{picUrl}, 
			#{discount}, 
			#{discountMember}, 
			#{addTime}, 
			#{updateTime}, 
			#{expireTime}, 
			#{deleted}
		)
	</insert>
	
	<select id="getObjectById" resultType="com.kotall.rms.common.entity.litemall.LiteMallGrouponRulesEntity">
		SELECT
			`id`, 
			`store_id`,
			`goods_id`,
			`goods_name`, 
			`pic_url`, 
			`discount`, 
			`discount_member`, 
			`add_time`, 
			`update_time`, 
			`expire_time`, 
			`deleted`
		FROM
			lite_mall_groupon_rules
		WHERE
			id = #{id}
	</select>
	
	<update id="update">
		UPDATE lite_mall_groupon_rules
	 	<set>
			<if test="storeId != null">`store_id` = #{storeId}, </if>
			<if test="goodsId != null">`goods_id` = #{goodsId}, </if>
			<if test="goodsName != null">`goods_name` = #{goodsName}, </if>
			<if test="picUrl != null">`pic_url` = #{picUrl}, </if>
			<if test="discount != null">`discount` = #{discount}, </if>
			<if test="discountMember != null">`discount_member` = #{discountMember}, </if>
			<if test="addTime != null">`add_time` = #{addTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="expireTime != null">`expire_time` = #{expireTime}, </if>
			<if test="deleted != null">`deleted` = #{deleted}</if>
		</set>
		WHERE
			id = #{id}
	</update>
	
	<delete id="batchRemove">
		DELETE
		FROM
			lite_mall_groupon_rules
		WHERE
			id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>