<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kotall.rms.common.dao.litemall.LiteMallCommentMapper">
	
	<select id="list" resultType="com.kotall.rms.common.entity.litemall.LiteMallCommentEntity">
		SELECT
			`id`, 
			`store_id`,
			`value_id`,
			`type`, 
			`content`, 
			`user_id`, 
			`has_picture`, 
			`pic_urls`, 
			`star`, 
			`add_time`, 
			`update_time`, 
			`deleted`
		FROM
			lite_mall_comment
		<where>
			<if test="storeId != null "> `store_id` = #{storeId}</if>
			<if test="valueId != null "> and `value_id` = #{valueId}</if>
			<if test="type != null "> and `type` = #{type}</if>
			<if test="hasPicture != null "> and `has_picture` = #{hasPicture}</if>
			<if test="star != null "> and `star` = #{star}</if>
			<if test="userId != null "> and `user_id` = #{userId}</if>
			<if test="sql_filter != null and sql_filter.trim() !='' "> and ${sql_filter}</if>
		</where>
		ORDER BY
			add_time DESC
	</select>
	
	<insert id="insert">
		INSERT INTO lite_mall_comment (
			`store_id`,
			`value_id`,
			`type`,
			`content`, 
			`user_id`, 
			`has_picture`, 
			`pic_urls`, 
			`star`, 
			`add_time`, 
			`update_time`, 
			`deleted`
		)
		VALUES (
			#{storeId},
			#{valueId},
			#{type},
			#{content}, 
			#{userId}, 
			#{hasPicture}, 
			#{picUrls}, 
			#{star},
			NOW(),
			#{updateTime}, 
			#{deleted}
		)
	</insert>
	
	<select id="getById" resultType="com.kotall.rms.common.entity.litemall.LiteMallCommentEntity">
		SELECT
			`id`, 
			`store_id`,
			`value_id`,
			`type`, 
			`content`, 
			`user_id`, 
			`has_picture`, 
			`pic_urls`, 
			`star`, 
			`add_time`, 
			`update_time`, 
			`deleted`
		FROM
			lite_mall_comment
		WHERE
			id = #{id}
	</select>
	
	<update id="update">
		UPDATE lite_mall_comment
	 	<set>
			<if test="storeId != null">`store_id` = #{storeId}, </if>
			<if test="valueId != null">`value_id` = #{valueId}, </if>
			<if test="type != null">`type` = #{type}, </if>
			<if test="content != null">`content` = #{content}, </if>
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="hasPicture != null">`has_picture` = #{hasPicture}, </if>
			<if test="picUrls != null">`pic_urls` = #{picUrls}, </if>
			<if test="star != null">`star` = #{star}, </if>
			<if test="addTime != null">`add_time` = #{addTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="deleted != null">`deleted` = #{deleted}</if>
		</set>
		WHERE
			id = #{id}
	</update>
	
	<delete id="batchDelete">
		DELETE
		FROM
			lite_mall_comment
		WHERE
			id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<select id="countTotal" resultType="int">
		SELECT
			count(1)
		FROM
			lite_mall_comment
		<where>
			<if test="storeId != null "> `store_id` = #{storeId}</if>
			<if test="type != null "> and `type` = #{type}</if>
			<if test="valueId != null "> and `value_id` = #{valueId}</if>
			<if test="deleted != null "> and `deleted` = #{deleted}</if>
			<if test="hasPicture != null "> and `has_picture` = #{hasPicture}</if>
			<if test="sql_filter != null and sql_filter.trim() !='' "> and ${sql_filter}</if>
		</where>
	</select>

</mapper>