<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kotall.rms.common.dao.litemall.LiteMallStoreMapper">
	
	<select id="list" resultType="com.kotall.rms.common.entity.litemall.LiteMallStoreEntity">
		SELECT
			`id`, 
			`user_id`,
			(
				SELECT
					name
				FROM
					sys_user u
				WHERE
					u.user_id = s.user_id
			) AS `userName`,
			`name`,
			`status`, 
			`type`, 
			`main_buz`, 
			`brand`, 
			`address`, 
			`location_x`, 
			`location_y`, 
			`contact_man`,
			`contact_phone`, 
			`create_time`,
			`update_time`
		FROM
			lite_mall_store s
		<where>
			<if test="sql_filter != null and sql_filter.trim() !='' "> and ${sql_filter}</if>
		</where>
		ORDER BY
			id DESC
	</select>
	
	<insert id="insert">
		INSERT INTO lite_mall_store (
			`name`,
			`status`,
			`type`, 
			`main_buz`, 
			`brand`, 
			`address`, 
			`location_x`, 
			`location_y`, 
			`user_id`, 
			`contact_man`, 
			`contact_phone`,
			`create_time`,
			`update_time`
		)
		VALUES (
			#{name},
			#{status},
			#{type}, 
			#{mainBuz}, 
			#{brand}, 
			#{address}, 
			#{locationX}, 
			#{locationY}, 
			#{userId}, 
			#{contactMan}, 
			#{contactPhone},
			NOW(),
			#{updateTime}
		)
	</insert>
	
	<select id="getById" resultType="com.kotall.rms.common.entity.litemall.LiteMallStoreEntity">
		SELECT
			`id`, 
			`user_id`,
			(
				SELECT
					name
				FROM
					sys_user u
				WHERE
					u.user_id = s.user_id
			) AS `userName`,
			`name`,
			`status`, 
			`type`, 
			`main_buz`, 
			`brand`, 
			`address`, 
			`location_x`, 
			`location_y`, 
			`contact_man`,
			`contact_phone`,
			`create_time`,
			`update_time`
		FROM
			lite_mall_store s
		WHERE
			id = #{id}
	</select>
	
	<update id="update">
		UPDATE lite_mall_store
	 	<set>
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="name != null">`name` = #{name}, </if>
			<if test="status != null">`status` = #{status}, </if>
			<if test="type != null">`type` = #{type}, </if>
			<if test="mainBuz != null">`main_buz` = #{mainBuz}, </if>
			<if test="brand != null">`brand` = #{brand}, </if>
			<if test="address != null">`address` = #{address}, </if>
			<if test="locationX != null">`location_x` = #{locationX}, </if>
			<if test="locationY != null">`location_y` = #{locationY}, </if>
			<if test="contactMan != null">`contact_man` = #{contactMan}, </if>
			<if test="contactPhone != null">`contact_phone` = #{contactPhone}, </if>
			<if test="createTime != null">`CREATE_TIME` = #{createTime}, </if>
			<if test="updateTime != null">`UPDATE_TIME` = #{updateTime}</if>
		</set>
		WHERE
			id = #{id}
	</update>
	
	<delete id="batchDelete">
		DELETE
		FROM
			lite_mall_store
		WHERE
			id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<select id="queryStoreIdListByUserId" resultType="int">
		SELECT
			`id`
		FROM
			lite_mall_store s
		WHERE
			s.user_id = #{id}
		ORDER BY
			id DESC
	</select>

</mapper>