<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kotall.rms.common.dao.litemall.LiteMallGrouponMapper">
	
	<select id="list" resultType="com.kotall.rms.common.entity.litemall.LiteMallGrouponEntity">
		SELECT
			`id`, 
			`store_id`,
		    (select s.name from lite_mall_store s where s.id= store_id) as `storeName`,
			`order_id`,
			`groupon_id`, 
			`rules_id`, 
			`user_id`, 
			`creator_user_id`, 
			`add_time`, 
			`update_time`, 
			`share_url`, 
			`payed`, 
			`deleted`
		FROM
			lite_mall_groupon
		<where>
			<if test="storeId != null"> `store_id` = #{storeId}</if>
			<if test="deleted != null"> and `deleted` = #{deleted}</if>
			<if test="sql_filter != null and sql_filter.trim() !='' "> and ${sql_filter}</if>
		</where>
		ORDER BY
			id DESC
	</select>
	
	<insert id="insert">
		INSERT INTO lite_mall_groupon (
			`store_id`,
			`order_id`,
			`groupon_id`,
			`rules_id`, 
			`user_id`, 
			`creator_user_id`, 
			`add_time`, 
			`update_time`, 
			`share_url`, 
			`payed`, 
			`deleted`
		)
		VALUES (
			#{storeId},
			#{orderId},
			#{grouponId},
			#{rulesId}, 
			#{userId}, 
			#{creatorUserId},
			NOW(),
			#{updateTime}, 
			#{shareUrl}, 
			#{payed}, 
			#{deleted}
		)
	</insert>
	
	<select id="getById" resultType="com.kotall.rms.common.entity.litemall.LiteMallGrouponEntity">
		SELECT
			`id`, 
			`store_id`,
			`order_id`,
			`groupon_id`, 
			`rules_id`, 
			`user_id`, 
			`creator_user_id`, 
			`add_time`, 
			`update_time`, 
			`share_url`, 
			`payed`, 
			`deleted`
		FROM
			lite_mall_groupon
		WHERE
			id = #{id}
	</select>
	
	<update id="update">
		UPDATE lite_mall_groupon
	 	<set>
			<if test="storeId != null">`store_id` = #{storeId}, </if>
			<if test="orderId != null">`order_id` = #{orderId}, </if>
			<if test="grouponId != null">`groupon_id` = #{grouponId}, </if>
			<if test="rulesId != null">`rules_id` = #{rulesId}, </if>
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="creatorUserId != null">`creator_user_id` = #{creatorUserId}, </if>
			<if test="addTime != null">`add_time` = #{addTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="shareUrl != null">`share_url` = #{shareUrl}, </if>
			<if test="payed != null">`payed` = #{payed}, </if>
			<if test="deleted != null">`deleted` = #{deleted}</if>
		</set>
		WHERE
			id = #{id}
	</update>
	
	<delete id="batchDelete">
		DELETE
		FROM
			lite_mall_groupon
		WHERE
			id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<select id="countTotal" resultType="int">
		SELECT
			COUNT(1)
		FROM
			lite_mall_groupon
		<where>
			<if test="storeId != null" > `store_id` = #{storeId}</if>
			<if test="orderId != null" > and `order_id` = #{orderId}</if>
			<if test="grouponId != null" > and `groupon_id` = #{grouponId}</if>
			<if test="payed != null" > and `payed` = #{payed}</if>
			<if test="deleted != null" > and `deleted` = #{deleted}</if>
		</where>
	</select>
</mapper>