<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kotall.rms.common.dao.litemall.LiteMallGoodsProductMapper">
	
	<select id="list" resultType="com.kotall.rms.common.entity.litemall.LiteMallGoodsProductEntity">
		SELECT
			`id`, 
			`store_id`, 
			`goods_id`, 
			`specifications`, 
			`price`, 
			`number`, 
			`url`, 
			`add_time`, 
			`update_time`, 
			`deleted`
		FROM
			lite_mall_goods_product
		<where>
			<if test="storeId != null"> `store_id` = #{storeId}</if>
			<if test="goodsId != null"> and  `goods_id` = #{goodsId}</if>
			<if test="deleted != null"> and  `deleted` = #{deleted}</if>
			<if test="sql_filter != null and sql_filter.trim() !='' "> and ${sql_filter}</if>
		</where>
		ORDER BY
			add_time DESC
	</select>
	
	<insert id="insert">
		INSERT INTO lite_mall_goods_product (
			`store_id`, 
			`goods_id`, 
			`specifications`, 
			`price`, 
			`number`, 
			`url`, 
			`add_time`, 
			`update_time`, 
			`deleted`
		)
		VALUES (
			#{storeId}, 
			#{goodsId}, 
			#{specifications}, 
			#{price}, 
			#{number}, 
			#{url}, 
			#{addTime}, 
			#{updateTime}, 
			#{deleted}
		)
	</insert>
	
	<select id="getById" resultType="com.kotall.rms.common.entity.litemall.LiteMallGoodsProductEntity">
		SELECT
			`id`, 
			`store_id`, 
			`goods_id`, 
			`specifications`, 
			`price`, 
			`number`, 
			`url`, 
			`add_time`, 
			`update_time`, 
			`deleted`
		FROM
			lite_mall_goods_product
		WHERE
			id = #{id}
	</select>
	
	<update id="update">
		UPDATE lite_mall_goods_product
	 	<set>
			<if test="storeId != null">`store_id` = #{storeId}, </if>
			<if test="goodsId != null">`goods_id` = #{goodsId}, </if>
			<if test="specifications != null">`specifications` = #{specifications}, </if>
			<if test="price != null">`price` = #{price}, </if>
			<if test="number != null">`number` = #{number}, </if>
			<if test="url != null">`url` = #{url}, </if>
			<if test="addTime != null">`add_time` = #{addTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="deleted != null">`deleted` = #{deleted}</if>
		</set>
		WHERE
			id = #{id}
	</update>
	
	<delete id="batchDelete">
		DELETE
		FROM
			lite_mall_goods_product
		WHERE
			id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>