<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kotall.rms.common.dao.litemall.LiteMallAppMapper">
	
	<select id="list" resultType="com.kotall.rms.common.entity.litemall.LiteMallAppEntity">
		SELECT
			`id`, 
			`sid`,
			`store_id`, 
			`version`, 
			`trade_type`,
			`app_id`,
			`sub_app_id`,
		    `mch_id`,
		    `sub_mch_id`,
		    `mch_key`,
		    `sign_type`,
		    `key_path`,
		    `notify_url`,
			`CREATED_TIME`,
			`UPDATED_TIME`
		FROM
			lite_mall_app
		ORDER BY
			id DESC
	</select>
	
	<insert id="insert">
		INSERT INTO lite_mall_app (
			`sid`,
			`store_id`, 
			`version`,
			`trade_type`,
			`app_id`,
			`sub_app_id`,
			`mch_id`,
			`sub_mch_id`,
			`mch_key`,
			`sign_type`,
			`key_path`,
			`notify_url`,
			`CREATED_TIME`, 
			`UPDATED_TIME`
		)
		VALUES (
			#{sid},
			#{storeId}, 
			#{version}, 
			#{tradeType},
			#{appId},
			#{subAppId},
			#{mchId},
			#{subMchId},
			#{mchKey},
			#{signType},
			#{keyPath},
			#{notifyUrl},
			#{createdTime},
			#{updatedTime}
		)
	</insert>
	
	<select id="getById" resultType="com.kotall.rms.common.entity.litemall.LiteMallAppEntity">
		SELECT
			`id`, 
			`sid`,
			`store_id`, 
			`version`,
			`trade_type`,
			`app_id`,
			`sub_app_id`,
			`mch_id`,
			`sub_mch_id`,
			`mch_key`,
			`sign_type`,
			`key_path`,
			`notify_url`,
			`CREATED_TIME`, 
			`UPDATED_TIME`
		FROM
			lite_mall_app
		WHERE
			id = #{id}
	</select>
	
	<update id="update">
		UPDATE lite_mall_app
	 	<set>
			<if test="sid != null">`app_id` = #{sid}, </if>
			<if test="storeId != null">`store_id` = #{storeId}, </if>
			<if test="version != null">`version` = #{version}, </if>
			<if test="tradeType != null">`trade_type` = #{tradeType}, </if>
			<if test="appId != null">`app_id` = #{appId}, </if>
			<if test="subAppId != null">`sub_app_id` = #{subAppId}, </if>
			<if test="mchId != null">`mch_id` = #{mchId}, </if>
			<if test="subMchId != null">`sub_mch_id` = #{subMchId}, </if>
			<if test="mchKey != null">`mch_key` = #{mchKey}, </if>
			<if test="signType != null">`sign_type` = #{signType}, </if>
			<if test="keyPath != null">`key_path` = #{keyPath}, </if>
			<if test="notifyUrl != null">`notify_url` = #{notifyUrl}, </if>
			<if test="createdTime != null">`CREATED_TIME` = #{createdTime}, </if>
			<if test="updatedTime != null">`UPDATED_TIME` = #{updatedTime}</if>
		</set>
		WHERE
			id = #{id}
	</update>
	
	<delete id="batchDelete">
		DELETE
		FROM
			lite_mall_app
		WHERE
			id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<select id="getObjectBySid" resultType="com.kotall.rms.common.entity.litemall.LiteMallAppEntity">
		SELECT
			`id`,
			`sid`,
			`store_id`,
			`version`,
			`trade_type`,
			`app_id`,
			`sub_app_id`,
			`mch_id`,
			`sub_mch_id`,
			`mch_key`,
			`sign_type`,
			`key_path`,
			`notify_url`,
			`CREATED_TIME`,
			`UPDATED_TIME`
		FROM
			lite_mall_app
		WHERE
		sid = #{sid}
	</select>

</mapper>