<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kotall.rms.common.dao.litemall.LiteMallAppMapper">
	
	<select id="list" resultType="com.kotall.rms.common.entity.litemall.LiteMallAppEntity">
		SELECT
			`id`, 
			`sid`,
			`store_id`, 
			`version`, 
			`CREATED_TIME`, 
			`UPDATED_TIME`
		FROM
			lite_mall_app
		ORDER BY
			id DESC
	</select>
	
	<insert id="insert">
		INSERT INTO lite_mall_app (
			`sid`,
			`store_id`, 
			`version`, 
			`CREATED_TIME`, 
			`UPDATED_TIME`
		)
		VALUES (
			#{sid},
			#{storeId}, 
			#{version}, 
			#{createdTime}, 
			#{updatedTime}
		)
	</insert>
	
	<select id="getById" resultType="com.kotall.rms.common.entity.litemall.LiteMallAppEntity">
		SELECT
			`id`, 
			`sid`,
			`store_id`, 
			`version`, 
			`CREATED_TIME`, 
			`UPDATED_TIME`
		FROM
			lite_mall_app
		WHERE
			id = #{id}
	</select>
	
	<update id="update">
		UPDATE lite_mall_app
	 	<set>
			<if test="sid != null">`app_id` = #{sid}, </if>
			<if test="storeId != null">`store_id` = #{storeId}, </if>
			<if test="version != null">`version` = #{version}, </if>
			<if test="createdTime != null">`CREATED_TIME` = #{createdTime}, </if>
			<if test="updatedTime != null">`UPDATED_TIME` = #{updatedTime}</if>
		</set>
		WHERE
			id = #{id}
	</update>
	
	<delete id="batchDelete">
		DELETE
		FROM
			lite_mall_app
		WHERE
			id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

	<select id="getObjectBySid" resultType="com.kotall.rms.common.entity.litemall.LiteMallAppEntity">
		SELECT
			`id`,
			`sid`,
			`store_id`,
			`version`,
			`CREATED_TIME`,
			`UPDATED_TIME`
		FROM
			lite_mall_app
		WHERE
		sid = #{sid}
	</select>

</mapper>