<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kotall.rms.common.dao.litemall.LiteMallGoodsSpecificationMapper">
	
	<select id="list" resultType="com.kotall.rms.common.entity.litemall.LiteMallGoodsSpecificationEntity">
		SELECT
			`id`, 
			`store_id`, 
			`goods_id`, 
			`specification`, 
			`value`, 
			`pic_url`, 
			`add_time`, 
			`update_time`, 
			`deleted`
		FROM
			lite_mall_goods_specification
		<where>
			<if test="storeId != null"> `store_id` = #{storeId}</if>
			<if test="goodsId != null"> and `goods_id` = #{goodsId}</if>
			<if test="specification != null"> and `specification` = #{specification}</if>
			<if test="deleted != null"> and `deleted` = #{deleted}</if>
			<if test="sql_filter != null and sql_filter.trim() !='' "> and ${sql_filter}</if>
		</where>
		ORDER BY
			add_time DESC
	</select>
	
	<insert id="insert">
		INSERT INTO lite_mall_goods_specification (
			`store_id`,
			`goods_id`,
			`specification`,
			`value`,
			`pic_url`,
			`add_time`,
			`update_time`,
			`deleted`
		)
		VALUES (
			#{storeId},
			#{goodsId},
			#{specification},
			#{value},
			#{picUrl},
			NOW(),
			#{updateTime},
			#{deleted}
		)
	</insert>

	<insert id="insertBatch">
		INSERT INTO lite_mall_goods_specification (
		`store_id`,
		`goods_id`,
		`specification`,
		`value`,
		`pic_url`,
		`add_time`,
		`update_time`,
		`deleted`
		)
		VALUES
		<foreach item="data" collection="list"  separator="," >
		(#{data.storeId},
		#{data.goodsId},
		#{data.specification},
		#{data.value},
		#{data.picUrl},
		NOW(),
		#{data.updateTime},
		#{data.deleted})
		</foreach>
	</insert>
	
	<select id="getById" resultType="com.kotall.rms.common.entity.litemall.LiteMallGoodsSpecificationEntity">
		SELECT
			`id`, 
			`store_id`, 
			`goods_id`, 
			`specification`, 
			`value`, 
			`pic_url`, 
			`add_time`, 
			`update_time`, 
			`deleted`
		FROM
			lite_mall_goods_specification
		WHERE
			id = #{id}
	</select>

	<select id="getByGoodsId" resultType="com.kotall.rms.common.entity.litemall.LiteMallGoodsSpecificationEntity">
		SELECT
			`id`,
			`store_id`,
			`goods_id`,
			`specification`,
			`value`,
			`pic_url`,
			`add_time`,
			`update_time`,
			`deleted`
		FROM
			lite_mall_goods_specification
		WHERE
			goods_id = #{goodsId}
	</select>
	
	<update id="update">
		UPDATE lite_mall_goods_specification
	 	<set>
			<if test="storeId != null">`store_id` = #{storeId}, </if>
			<if test="goodsId != null">`goods_id` = #{goodsId}, </if>
			<if test="specification != null">`specification` = #{specification}, </if>
			<if test="value != null">`value` = #{value}, </if>
			<if test="picUrl != null">`pic_url` = #{picUrl}, </if>
			<if test="addTime != null">`add_time` = #{addTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="deleted != null">`deleted` = #{deleted}</if>
		</set>
		WHERE
			id = #{id}
	</update>
	
	<delete id="batchDelete">
		DELETE
		FROM
			lite_mall_goods_specification
		WHERE
			id IN
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>