<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_css::header('收藏表')"></head>
<body>
	<div id="dpLTE" class="container-fluid" v-cloak>
		<table class="form" id="form">
			<tr>
	            <td class="formTitle">用户ID<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="用户表的用户ID" v-model="liteMallCollect.userId" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">收藏ID<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="如果type=0，则是商品ID；如果type=1，则是专题ID" v-model="liteMallCollect.valueId" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">收藏类型<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="收藏类型，如果type=0，则是商品ID；如果type=1，则是专题ID" v-model="liteMallCollect.type" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
		</table>
	</div>
	<div th:include="include/footer_js::footer"></div>
	<script th:src="@{/js/mall/collect/add.js}"></script>
</body>
</html>