<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_css::header('app配置表')"></head>
<body>
	<div id="dpLTE" class="container-fluid" v-cloak>
		<table class="form" id="form">
			<tr>
	            <td class="formTitle">appID<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="appID" v-model="liteMallApp.appId" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">店铺ID<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="店铺ID" v-model="liteMallApp.storeId" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">版本<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="版本" v-model="liteMallApp.version" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
		</table>
	</div>
	<div th:include="include/footer_js::footer"></div>
	<script th:src="@{/js/mall/app/edit.js}"></script>
</body>
</html>