<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_css::header('评论表')"></head>
<body>
	<div id="dpLTE" class="container-fluid" v-cloak>
		<table class="form" id="form">
			<tr>
	            <td class="formTitle">如果type=0，则是商品评论；如果是type=1，则是专题评论。<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="如果type=0，则是商品评论；如果是type=1，则是专题评论。" v-model="liteMallComment.valueId" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">评论类型，如果type=0，则是商品评论；如果是type=1，则是专题评论；如果type=3，则是订单商品评论。<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="评论类型，如果type=0，则是商品评论；如果是type=1，则是专题评论；如果type=3，则是订单商品评论。" v-model="liteMallComment.type" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">评论内容<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="评论内容" v-model="liteMallComment.content" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">用户表的用户ID<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="用户表的用户ID" v-model="liteMallComment.userId" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">是否含有图片<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="是否含有图片" v-model="liteMallComment.hasPicture" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">图片地址列表，采用JSON数组格式<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="图片地址列表，采用JSON数组格式" v-model="liteMallComment.picUrls" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">评分， 1-5<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="评分， 1-5" v-model="liteMallComment.star" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
		</table>
	</div>
	<div th:include="include/footer_js::footer"></div>
	<script th:src="@{/js/mall/comment/edit.js}"></script>
</body>
</html>