<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_css::header('关键字表')"></head>
<body>
	<div id="dpLTE" class="container-fluid" v-cloak>
		<table class="form" id="form">
			<tr>
	            <td class="formTitle">店铺<font face="宋体">*</font></td>
	            <td class="formValue">
					<select v-model="liteMallKeyword.storeId" class="form-control"  style = "width:200px;" isvalid="yes" checkexpession="NotNull">
						<option value="">请选择</option>
						<option v-for="store in storeList" :value="store.id">{{store.name}}</option>
					</select>
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">关键字<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="关键字" v-model="liteMallKeyword.keyword" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">跳转链接<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="关键字的跳转链接" v-model="liteMallKeyword.url" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">是否热门<font face="宋体">*</font></td>
	            <td class="formValue">
					<!--<input type="text" class="form-control" placeholder="是否是热门关键字" v-model="liteMallKeyword.isHot" isvalid="yes" checkexpession="NotNull">-->
					<label class="radio-inline">
						<input type="radio" name="liteMallKeyword.isHot" value="1" v-model="liteMallKeyword.isHot" /> 是
					</label>
					<label class="radio-inline">
						<input type="radio" name="liteMallKeyword.isHot" value="0" v-model="liteMallKeyword.isHot" /> 否
					</label>
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">是否默认<font face="宋体">*</font></td>
	            <td class="formValue">
					<!--<input type="text" class="form-control" placeholder="是否是默认关键字" v-model="liteMallKeyword.isDefault" isvalid="yes" checkexpession="NotNull">-->
					<label class="radio-inline">
						<input type="radio" name="liteMallKeyword.isDefault" value="1" v-model="liteMallKeyword.isDefault" /> 是
					</label>
					<label class="radio-inline">
						<input type="radio" name="liteMallKeyword.isDefault" value="0" v-model="liteMallKeyword.isDefault" /> 否
					</label>
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">排序<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="排序" v-model="liteMallKeyword.sortOrder" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
		</table>
	</div>
	<div th:include="include/footer_js::footer"></div>
	<script th:src="@{/js/mall/keyword/add.js}"></script>
</body>
</html>