<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_css::header('广告表')"></head>
<body>
	<div id="dpLTE" class="container-fluid" v-cloak>
		<table class="form" id="form">
			<tr>
	            <td class="formTitle">广告标题<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="广告标题" v-model="liteMallAd.name" isvalid="yes" checkexpession="NotNull">
	            </td>
				<td class="formTitle">是否启动<font face="宋体">*</font></td>
				<td class="formValue">
					<!--<input type="text" class="form-control" placeholder="是否启动" v-model="liteMallAd.enabled" isvalid="yes" checkexpession="NotNull">-->
					<label class="radio-inline">
						<input type="radio" name="liteMallAd.enabled" value="0" v-model="liteMallAd.enabled" /> 停用
					</label>
					<label class="radio-inline">
						<input type="radio" name="liteMallAd.enabled" value="1" v-model="liteMallAd.enabled" /> 启用
					</label>
				</td>
        	</tr>
			<tr>
	            <td class="formTitle">广告链接地址<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="所广告的商品页面或者活动页面链接地址" v-model="liteMallAd.link" isvalid="yes" checkexpession="NotNull">
	            </td>
				<td class="formTitle">广告位置<font face="宋体">*</font></td>
				<td class="formValue">
					<input type="text" class="form-control" placeholder="广告位置：1则是首页" v-model="liteMallAd.position" isvalid="yes" checkexpession="NotNull">
				</td>
        	</tr>
			<tr>
	            <td class="formTitle">广告开始时间<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="广告开始时间" v-model="liteMallAd.startTime" isvalid="yes" checkexpession="NotNull">
	            </td>
				<td class="formTitle">广告结束时间<font face="宋体">*</font></td>
				<td class="formValue">
					<input type="text" class="form-control" placeholder="广告结束时间" v-model="liteMallAd.endTime" isvalid="yes" checkexpession="NotNull">
				</td>
        	</tr>
			<tr>
				<td class="formTitle">广告宣传图片<font face="宋体">*</font></td>
				<td class="formValue">
					<input type="text" class="form-control" placeholder="广告宣传图片" v-model="liteMallAd.url" isvalid="yes" checkexpession="NotNull">
				</td>
			</tr>
			<tr>
				<td class="formTitle">活动内容<font face="宋体">*</font></td>
				<td class="formValue">
					<input type="text" class="form-control" placeholder="活动内容" v-model="liteMallAd.content" isvalid="yes" checkexpession="NotNull">
				</td>
			</tr>
		</table>
	</div>
	<div th:include="include/footer_js::footer"></div>
	<script th:src="@{/js/mall/ad/add.js}"></script>
</body>
</html>