package ${package}.core.manager.${module};

import com.kotall.rms.core.manager.BaseManager;
import ${package}.common.entity.${module}.${className}Entity;

/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 * @since 1.0.0
 */
public interface ${className}Manager  extends BaseManager<${className}Entity> {

}
