package ${package}.common.dao.${module};

import org.apache.ibatis.annotations.Mapper;

import ${package}.common.entity.${module}.${className}Entity;
import com.kotall.rms.common.dao.BaseMapper;

/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 * @since 1.0.0
 */
@Mapper
public interface ${className}Mapper extends BaseMapper<${className}Entity> {
	
}
