
-- 目录SQL
#set($vars="/" + "${module}")
INSERT INTO `sys_menu` (`menu_id`,`parent_id`, `name`, `code`,`url`, `perms`, `type`, `icon`)
    VALUES ('${vars.hashCode()}',0, '${comments}', '${vars}',NULL, NULL, '0', 'fa fa-coffee');

-- 菜单SQL
INSERT INTO `sys_menu` (`menu_id`,`parent_id`, `name`, `code`,`url`, `perms`, `type`, `icon`)
    VALUES ('${code.hashCode()}',(select m.menu_id from sys_menu m where m.code='${vars}'), '${comments}', '${code}','${viewPath}/list.html', NULL, '1', 'fa fa-th-list');


-- 菜单对应按钮SQL
#set($vars="$code" + "/list")
INSERT INTO `sys_menu` (`menu_id`,`parent_id`, `name`, `code`,`perms`, `type`, `icon`)
    VALUES ('${vars.hashCode()}',(select m.menu_id from sys_menu m where m.code='${code}'), '刷新', '${code}/list', '${authKey}:list', '2', NULL);

#set($vars="$code" + "/save")
INSERT INTO `sys_menu` (`menu_id`,`parent_id`, `name`, `code`,`perms`, `type`, `icon`)
    VALUES ('${vars.hashCode()}',(select m.menu_id from sys_menu m where m.code='${code}'), '新增', '${code}/save', '${authKey}:save', '2', NULL);

#set($vars="$code" + "/edit")
INSERT INTO `sys_menu` (`menu_id`,`parent_id`, `name`, `code`,`perms`, `type`, `icon`)
    VALUES ('${vars.hashCode()}',(select m.menu_id from sys_menu m where m.code='${code}'), '修改', '${code}/edit', '${authKey}:edit', '2', NULL);

#set($vars="$code" + "/remove")
INSERT INTO `sys_menu` (`menu_id`,`parent_id`, `name`, `code`,`perms`, `type`, `icon`)
    VALUES ('${vars.hashCode()}',(select m.menu_id from sys_menu m where m.code='${code}'), '删除', '${code}/remove', '${authKey}:remove', '2', NULL);
