package ${package}.core.service.${module}.impl;


import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import ${package}.common.entity.${module}.${className}Entity;
import ${package}.core.manager.${module}.${className}Manager;
import ${package}.core.service.${module}.${className}Service;
import com.kotall.rms.core.service.BaseServiceImpl;

/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 * @since 1.0.0
 */
@Service("${objName}Service")
public class ${className}ServiceImpl extends BaseServiceImpl<${className}Manager, ${className}Entity> implements ${className}Service {

	@Autowired
	private ${className}Manager ${objName}Manager;

}
