package ${package}.core.service.${module};


import com.kotall.rms.core.service.BaseService;
import ${package}.common.entity.${module}.${className}Entity;

/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 * @since 1.0.0
 */
public interface ${className}Service extends BaseService<${className}Entity> {


}
