<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_css::header('')"></head>
<body>
	<div id="dpLTE" class="container-fluid" v-cloak>
		<table class="form" id="form">
			<tr>
				<td class="formTitle">店铺<font face="宋体">*</font></td>
				<td class="formValue" colspan="3">
					<select v-model="liteMallGroupon.storeId" class="form-control"  style = "width:200px;" isvalid="yes" checkexpession="NotNull">
						<option value="">请选择</option>
						<option v-for="store in storeList" :value="store.id">{{store.name}}</option>
					</select>
				</td>
			</tr>
			<tr>
				<td class="formTitle">参团ID<font face="宋体">*</font></td>
				<td class="formValue">
					<input type="text" class="form-control" placeholder="参与的团购ID，仅当user_type不是1" v-model="liteMallGroupon.grouponId" isvalid="yes" checkexpession="NotNull">
				</td>
	            <td class="formTitle">关联的订单ID<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="关联的订单ID" v-model="liteMallGroupon.orderId" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">团购规则ID<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="团购规则ID，关联litemall_groupon_rules表ID字段" v-model="liteMallGroupon.rulesId" isvalid="yes" checkexpession="NotNull">
	            </td>
				<td class="formTitle">用户ID<font face="宋体">*</font></td>
				<td class="formValue">
					<input type="text" class="form-control" placeholder="用户ID" v-model="liteMallGroupon.userId" isvalid="yes" checkexpession="NotNull">
				</td>
        	</tr>
			<tr>
	            <td class="formTitle">创建者ID<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="创建者ID" v-model="liteMallGroupon.creatorUserId" isvalid="yes" checkexpession="NotNull">
	            </td>
				<td class="formTitle">是否已经支付<font face="宋体">*</font></td>
				<td class="formValue">
					<!--<input type="text" class="form-control" placeholder="是否已经支付" v-model="liteMallGroupon.payed" isvalid="yes" checkexpession="NotNull">-->
					<label class="radio-inline">
						<input type="radio" name="liteMallGroupon.payed" :value="1"  v-model="liteMallGroupon.payed"/> 已支付
					</label>
					<label class="radio-inline">
						<input type="radio" name="liteMallGroupon.payed" :value="0" v-model="liteMallGroupon.payed" /> 未支付
					</label>
				</td>
        	</tr>
			<tr>
	            <td class="formTitle">团购分享图片地址<font face="宋体">*</font></td>
	            <td class="formValue" colspan="3">
					<input type="text" class="form-control" placeholder="团购分享图片地址" v-model="liteMallGroupon.shareUrl" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
		</table>
	</div>
	<div th:include="include/footer_js::footer"></div>
	<script th:src="@{/js/mall/grouponactivity/edit.js}"></script>
</body>
</html>