<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_css::header('意见反馈表')"></head>
<body>
	<div id="dpLTE" class="container-fluid" v-cloak>
		<table class="form" id="form">
			<tr>
	            <td class="formTitle">用户ID<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="用户表的用户ID" v-model="liteMallFeedback.userId" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">用户名称<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="用户名称" v-model="liteMallFeedback.username" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">手机号<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="手机号" v-model="liteMallFeedback.mobile" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">反馈类型<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="反馈类型" v-model="liteMallFeedback.feedType" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">反馈内容<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="反馈内容" v-model="liteMallFeedback.content" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">状态<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="状态" v-model="liteMallFeedback.status" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">是否含有图片<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="是否含有图片" v-model="liteMallFeedback.hasPicture" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">图片地址列表<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="图片地址列表，采用JSON数组格式" v-model="liteMallFeedback.picUrls" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
		</table>
	</div>
	<div th:include="include/footer_js::footer"></div>
	<script th:src="@{/js/mall/feedback/edit.js}"></script>
</body>
</html>