<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_css::header('购物车商品表')"></head>
<body>
	<div id="dpLTE" class="container-fluid" v-cloak>
		<table class="form" id="form">
			<tr>
	            <td class="formTitle">店铺ID<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="店铺ID" v-model="liteMallCart.storeId" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">用户表的用户ID<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="用户表的用户ID" v-model="liteMallCart.userId" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">商品表的商品ID<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="商品表的商品ID" v-model="liteMallCart.goodsId" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">商品编号<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="商品编号" v-model="liteMallCart.goodsSn" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">商品名称<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="商品名称" v-model="liteMallCart.goodsName" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">商品货品表的货品ID<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="商品货品表的货品ID" v-model="liteMallCart.productId" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">商品货品的价格<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="商品货品的价格" v-model="liteMallCart.price" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">商品货品的数量<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="商品货品的数量" v-model="liteMallCart.number" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">商品规格值列表，采用JSON数组格式<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="商品规格值列表，采用JSON数组格式" v-model="liteMallCart.specifications" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">购物车中商品是否选择状态<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="购物车中商品是否选择状态" v-model="liteMallCart.checked" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">商品图片或者商品货品图片<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="商品图片或者商品货品图片" v-model="liteMallCart.picUrl" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
		</table>
	</div>
	<div th:include="include/footer_js::footer"></div>
	<script th:src="@{/js/mall/litemall/edit.js}"></script>
</body>
</html>