<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_css::header('订单表')"></head>
<body>
	<div id="dpLTE" class="container-fluid" v-cloak>
		<table class="form" id="form">
			<tr>
	            <td class="formTitle">用户表的用户ID<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="用户表的用户ID" v-model="liteMallOrder.userId" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">订单编号<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="订单编号" v-model="liteMallOrder.orderSn" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">订单状态<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="订单状态" v-model="liteMallOrder.orderStatus" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">收货人名称<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="收货人名称" v-model="liteMallOrder.consignee" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">收货人手机号<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="收货人手机号" v-model="liteMallOrder.mobile" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">收货具体地址<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="收货具体地址" v-model="liteMallOrder.address" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">用户订单留言<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="用户订单留言" v-model="liteMallOrder.message" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">商品总费用<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="商品总费用" v-model="liteMallOrder.goodsPrice" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">配送费用<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="配送费用" v-model="liteMallOrder.freightPrice" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">优惠券减免<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="优惠券减免" v-model="liteMallOrder.couponPrice" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">用户积分减免<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="用户积分减免" v-model="liteMallOrder.integralPrice" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">团购优惠价减免<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="团购优惠价减免" v-model="liteMallOrder.grouponPrice" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">订单费用<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="订单费用， = goods_price + freight_price - coupon_price" v-model="liteMallOrder.orderPrice" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">实付费用<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="实付费用， = order_price - integral_price" v-model="liteMallOrder.actualPrice" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">微信付款编号<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="微信付款编号" v-model="liteMallOrder.payId" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">微信付款时间<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="微信付款时间" v-model="liteMallOrder.payTime" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">发货编号<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="发货编号" v-model="liteMallOrder.shipSn" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">发货快递公司<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="发货快递公司" v-model="liteMallOrder.shipChannel" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">发货开始时间<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="发货开始时间" v-model="liteMallOrder.shipTime" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">用户确认收货时间<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="用户确认收货时间" v-model="liteMallOrder.confirmTime" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">待评价订单商品数量<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="待评价订单商品数量" v-model="liteMallOrder.comments" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">订单关闭时间<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="订单关闭时间" v-model="liteMallOrder.endTime" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
		</table>
	</div>
	<div th:include="include/footer_js::footer"></div>
	<script th:src="@{/js/mall/order/add.js}"></script>
</body>
</html>