<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_css::header('商品基本信息表')"></head>
<style>
	.layui-upload-img {
		width: 92px;
		height: 92px;
		margin: 0 10px 10px 0;
	}
</style>
<body>
<div id="dpLTE" class="container-fluid" v-cloak>
	<table class="form" id="form">
		<tr>
			<td class="formTitle">店铺ID<font face="宋体">*</font></td>
			<td class="formValue">
				<input type="text" class="form-control" placeholder="店铺ID" v-model="liteMallGoods.storeId" isvalid="yes" checkexpession="NotNull">
			</td>
		</tr>
		<tr>
			<td class="formTitle">商品编号<font face="宋体">*</font></td>
			<td class="formValue">
				<input type="text" class="form-control" placeholder="商品编号" v-model="liteMallGoods.goodsSn" isvalid="yes" checkexpession="NotNull">
			</td>
		</tr>
		<tr>
			<td class="formTitle">商品名称<font face="宋体">*</font></td>
			<td class="formValue">
				<input type="text" class="form-control" placeholder="商品名称" v-model="liteMallGoods.name" isvalid="yes" checkexpession="NotNull">
			</td>
		</tr>
		<tr>
			<td class="formTitle">商品所属分类<font face="宋体">*</font></td>
			<td class="formValue">
				<input type="text" class="form-control" placeholder="商品所属类目ID" v-model="liteMallGoods.categoryId" isvalid="yes" checkexpession="NotNull">
			</td>
		</tr>
		<tr>
			<td class="formTitle">商品单位<font face="宋体">*</font></td>
			<td class="formValue">
				<input type="text" class="form-control" placeholder="商品单位，例如件、盒" v-model="liteMallGoods.unit" isvalid="yes" checkexpession="NotNull">
			</td>
		</tr>
		<tr>
			<td class="formTitle">专柜价格<font face="宋体">*</font></td>
			<td class="formValue">
				<input type="text" class="form-control" placeholder="专柜价格" v-model="liteMallGoods.counterPrice" isvalid="yes" checkexpession="NotNull">
			</td>
		</tr>
		<tr>
			<td class="formTitle">零售价格<font face="宋体">*</font></td>
			<td class="formValue">
				<input type="text" class="form-control" placeholder="零售价格" v-model="liteMallGoods.retailPrice" isvalid="yes" checkexpession="NotNull">
			</td>
		</tr>

		<tr>
			<td class="formTitle">是否新品<font face="宋体">*</font></td>
			<td class="formValue">
				<label class="radio-inline">
					<input type="radio" name="liteMallGoods.isNew" value="0" v-model="liteMallGoods.isNew" /> 是
				</label>
				<label class="radio-inline">
					<input type="radio" name="liteMallGoods.isNew" value="1" v-model="liteMallGoods.isNew" /> 否
				</label>
			</td>
		</tr>
		<tr>
			<td class="formTitle">是否热卖<font face="宋体">*</font></td>
			<td class="formValue">
				<label class="radio-inline">
					<input type="radio" name="liteMallGoods.isHot" value="0" v-model="liteMallGoods.isHot" /> 是
				</label>
				<label class="radio-inline">
					<input type="radio" name="liteMallGoods.isHot" value="1" v-model="liteMallGoods.isHot" /> 否
				</label>
			</td>
		</tr>
		<tr>
			<td class="formTitle">是否在售<font face="宋体">*</font></td>
			<td class="formValue">
				<label class="radio-inline">
					<input type="radio" name="liteMallGoods.isOnSale" value="0" v-model="liteMallGoods.isOnSale" /> 是
				</label>
				<label class="radio-inline">
					<input type="radio" name="liteMallGoods.isOnSale" value="1" v-model="liteMallGoods.isOnSale" /> 否
				</label>
			</td>
		</tr>

		<tr>
			<td class="formTitle">所属品牌商<font face="宋体">*</font></td>
			<td class="formValue">
				<input type="text" class="form-control" placeholder="" v-model="liteMallGoods.brandId" isvalid="yes" checkexpession="NotNull">
			</td>
		</tr>
		<tr>
			<input id="iconUrl" type="hidden" v-model="liteMallGoods.picUrl" >
			<td class="formTitle" style=" vertical-align:top; padding-top:15px">商品图片<font face="宋体">*</font></td>
			<td class="formValue">
				<div class="layui-upload-list"  id="test1">
					<img :src="liteMallGoods.picUrl" class="layui-upload-img" id="demo1">
					<p id="demoText"></p>
				</div>
			</td>
		</tr>
		<tr>
			<input id="gallery" type="hidden" v-model="liteMallGoods.gallery" >
			<td class="formTitle" style=" vertical-align:top; padding-top:15px">宣传画廊<font face="宋体">*</font></td>
			<td class="formValue">
				<div class="layui-upload-list"  id="test2">
					<img v-for="opt in gallerys" :src="opt" class="layui-upload-img">
					<img class="layui-upload-img" id="demo2">
					<p id="demoText2"></p>
				</div>
			</td>
		</tr>
		<tr>
			<td class="formTitle">商品关键字<font face="宋体">*</font></td>
			<td class="formValue">
				<input type="text" class="form-control" placeholder="商品关键字，采用逗号间隔" v-model="liteMallGoods.keywords" isvalid="yes" checkexpession="NotNull">
			</td>
		</tr>
		<tr>
			<td class="formTitle">商品简介<font face="宋体">*</font></td>
			<td class="formValue">
				<input type="text" class="form-control" placeholder="商品简介" v-model="liteMallGoods.brief" isvalid="yes" checkexpession="NotNull">
			</td>
		</tr>
		<tr>
			<input  type="hidden"  v-model="liteMallGoods.detail" />
			<td class="formTitle">商品详细介绍<font face="宋体">*</font></td>
			<td class="formValue">
				<div class="row">
					<div class="col-md-13" id="editor"></div>
				</div>
			</td>
		</tr>

		<!--<tr>
            <td class="formTitle">商品分享朋友圈图片<font face="宋体">*</font></td>
            <td class="formValue">
                <input type="text" class="form-control" placeholder="商品分享朋友圈图片" v-model="liteMallGoods.shareUrl" isvalid="yes" checkexpession="NotNull">
            </td>
        </tr>-->



	</table>
</div>
<div th:include="include/footer_js::footer"></div>
<script th:src="@{/js/mall/goods/edit.js}"></script>
</body>
</html>