<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_css::header('商品基本信息表')"></head>
<body>

<div id="dpLTE" class="container-fluid" v-cloak>
	<div v-show="showList">
		<div class="row">
			<div class="col-md-4 form-inline pull-left">
				<div class="form-group">
					<input v-model="keyword" @keyup.enter="load" type="text" class="form-control" placeholder="请输入查询关键字" style="width: 220px;" />
				</div>
				<div class="form-group">
					<a class="btn btn-primary" @click="load"><i class="fa fa-search"></i>&nbsp;查询</a>
				</div>
			</div>
			<div class="col-md-8">
				<div class="btn-toolbar pull-right">
					<div class="btn-group">
						<a v-if="hasPermission('litemall:goods:list')" class="btn btn-default" onclick="reload();"><i class="fa fa-refresh"></i>&nbsp;刷新</a>
						<a v-if="hasPermission('litemall:goods:save')" class="btn btn-default" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
						<!--<a v-if="hasPermission('litemall:goods:edit')" class="btn btn-default" @click="edit"><i class="fa fa-pencil-square-o"></i>&nbsp;编辑</a>
						<a v-if="hasPermission('litemall:goods:remove')" class="btn btn-default" @click="remove"><i class="fa fa-trash-o"></i>&nbsp;删除</a>-->
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<table id="dataGrid"></table>
		</div>
	</div>

	<div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">商品基本信息</div>
		<form class="form-horizontal" id="form" enctype="multipart/form-data">
			<div class="form-group">
				<div class="col-sm-1 control-label">店铺</div>
				<div class="col-sm-10">
					<select v-model="liteMallGoods.storeId" class="form-control"  style = "width:200px;" isvalid="yes" checkexpession="NotNull">
						<option value="">请选择店铺</option>
						<option v-for="store in storeList" :value="store.id">{{store.name}}</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-1 control-label">商品编号</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="liteMallGoods.goodsSn" placeholder="商品编号" isvalid="yes" checkexpession="NotNull"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-1 control-label">商品名称</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" placeholder="商品名称" v-model="liteMallGoods.name" isvalid="yes" checkexpession="NotNull">
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-1 control-label">商品单位</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" placeholder="商品单位，例如件、盒" v-model="liteMallGoods.unit" isvalid="yes" checkexpession="NotNull">
				</div>
			</div>

			<div class="form-group">
				<input  type="hidden"  v-model="liteMallGoods.detail" />
				<div class="col-sm-1 control-label">商品详细介绍</div>
				<div class="col-sm-10">
					<div class="row">
						<div class="col-md-13" id="editor"></div>
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-1 control-label">商品所属分类</div>
				<div class="col-sm-10">
					<select v-model="liteMallGoods.categoryId" class="form-control" style = "width:200px;" id="select2-id" isvalid="yes" checkexpession="NotNull">
						<option value="">请选择商品所属分类</option>
						<option v-for="opt in categoryDatas" :value="opt.id">{{opt.name}}</option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-1 control-label">专柜价格</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" placeholder="专柜价格" v-model="liteMallGoods.counterPrice" isvalid="yes" checkexpession="NotNull">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-1 control-label">零售价格</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" placeholder="零售价格" v-model="liteMallGoods.retailPrice" isvalid="yes" checkexpession="NotNull">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-1 control-label">是否新品</div>
				<label class="radio-inline">
					<input type="radio" name="liteMallGoods.isNew" value="0" v-model="liteMallGoods.isNew"/> 是
				</label>
				<label class="radio-inline">
					<input type="radio" name="liteMallGoods.isNew" value="1" v-model="liteMallGoods.isNew"/> 否
				</label>
			</div>
			<div class="form-group">
				<div class="col-sm-1 control-label">是否热卖</div>
				<label class="radio-inline">
					<input type="radio" name="liteMallGoods.isHot" value="0" v-model="liteMallGoods.isHot"/> 是
				</label>
				<label class="radio-inline">
					<input type="radio" name="liteMallGoods.isHot" value="1" v-model="liteMallGoods.isHot"/> 否
				</label>
			</div>
			<div class="form-group">
				<div class="col-sm-1 control-label">是否上架</div>
				<label class="radio-inline">
					<input type="radio" name="liteMallGoods.isOnSale" :value="true" v-model="liteMallGoods.isOnSale"/> 是
				</label>
				<label class="radio-inline">
					<input type="radio" name="liteMallGoods.isOnSale" :value="false" v-model="liteMallGoods.isOnSale"/> 否
				</label>
			</div>

			<div class="form-group">
				<div class="col-sm-1 control-label">所属品牌商</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" placeholder="" v-model="liteMallGoods.brandId" isvalid="yes" checkexpession="NotNull">
				</div>
			</div>

			<div class="form-group">
				<input id="iconUrl" type="hidden" v-model="liteMallGoods.picUrl" >
				<div class="col-sm-1 control-label">商品图片</div>
				<div class="col-sm-10">
					<div class="item">
						<img v-show="liteMallGoods.picUrl == ''" class="icon addImg" @click="ImageUpload.clickImg($event);" src="https://kotallmall.oss-cn-hangzhou.aliyuncs.com/aliyun/20181223/ee9072413f1d4331a3d8ec4cf35e950c.png" />
						<input name="file" type="file" class="upload_input" @change="picUrlChangeOption($event)"/>
						<div class="preBlock">
							<img class="preview" alt="" name="pic" width="150" height="150" :src="liteMallGoods.picUrl" />
						</div>
						<img v-show="liteMallGoods.picUrl != ''" class="delete" @click="picUrlDeleteImgOption($event)" src="https://kotallmall.oss-cn-hangzhou.aliyuncs.com/aliyun/20181223/8b4c84fcdf334376940908e1eba81f0e.png"/>
					</div>
				</div>
			</div>
			<div class="form-group">
				<input id="gallery" type="hidden" v-model="liteMallGoods.gallery" >
				<div class="col-sm-1 control-label">宣传画廊</div>
				<div class="col-sm-10">
					<div class="item" v-for="opt in 5">
						<img v-show="gallerys[opt-1] == ''" class="icon addImg" @click="ImageUpload.clickImg($event,opt-1);" src="https://kotallmall.oss-cn-hangzhou.aliyuncs.com/aliyun/20181223/ee9072413f1d4331a3d8ec4cf35e950c.png" />
						<input name="file" type="file" class="upload_input" @change="galleryChangeOption($event,opt-1)"/>
						<div class="preBlock">
							<img class="preview" alt="" name="pic" width="150" height="150" :src="gallerys[opt-1]" />
						</div>
						<img v-show="gallerys[opt-1] != ''" class="delete" @click="galleryDeleteImgOption($event,opt-1)" src="https://kotallmall.oss-cn-hangzhou.aliyuncs.com/aliyun/20181223/8b4c84fcdf334376940908e1eba81f0e.png"/>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-1 control-label">商品关键字</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" placeholder="商品关键字，采用逗号间隔" v-model="liteMallGoods.keywords" isvalid="yes" checkexpession="NotNull">
				</div>
			</div>
		</form>
	</div>
	<div v-show="!showList" class="panel panel-default" style="margin-top: 15px;">
		<div class="panel-heading">商品规格</div>
		<div class="col-md-12" style="margin-top:10px;margin-bottom: 10px">
			<div class="btn-toolbar pull-right">
				<div class="btn-group">
					<a v-if="hasPermission('litemall:goods:save')" class="btn btn-default" data-toggle="modal" href="#myModal"><i class="fa fa-plus"></i>&nbsp;新增</a>
				</div>
			</div>
		</div>
		<div class="row">
			<table id="dataGrid2"></table>
		</div>
	</div>
	<div v-show="!showList" class="panel panel-default" style="margin-top: 15px;">
		<div class="panel-heading">商品库存</div>
		<div class="row">
			<table id="dataGrid3"></table>
		</div>
	</div>
	<div v-show="!showList" class="panel panel-default" style="margin-top: 15px;">
		<div class="panel-heading">商品参数</div>
		<div class="col-md-12" style="margin-top:10px;margin-bottom: 10px">
			<div class="btn-toolbar pull-right">
				<div class="btn-group">
					<a v-if="hasPermission('litemall:goods:save')" class="btn btn-default" data-toggle="modal" href="#attributeModal"><i class="fa fa-plus"></i>&nbsp;新增</a>
				</div>
			</div>
		</div>
		<div class="row">
			<table id="dataGrid4"></table>
		</div>
	</div>
	<div v-show="!showList" class="panel panel-default">
		<form class="form-horizontal">
			<div class="form-group">
				<div class="col-sm-2 control-label"></div>
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="load" value="返回"/>
			</div>
		</form>
	</div>
</div>

<!-- 规格设置 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					规格设置
				</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label class="col-sm-3 control-label">规格名</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="specification" v-model="liteMallGoodsSpecification.specification"  placeholder="规格名" isvalid="yes" checkexpession="NotNull">
						</div>
					</div>
					<div class="form-group">
						<label  class="col-sm-3 control-label">规格值</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="value" v-model="liteMallGoodsSpecification.value" placeholder="规格值">
						</div>
					</div>

					<div class="form-group">
						<input id="picUrl2" type="hidden"  v-model="liteMallGoodsSpecification.picUrl" >
						<div class="col-sm-3 control-label">规格图片</div>
						<div class="col-sm-9">
							<img :src="liteMallGoodsSpecification.picUrl" class="layui-upload-img" id="demo3">
							<p id="demoText3"></p>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
				<button type="button" id="add" class="btn btn-primary" onclick="vm.specificationSubmit()">
					提交
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>

<!-- 库存 模态框（Modal） -->
<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="productModalLabel">
					规格设置
				</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label class="col-sm-3 control-label">规格名</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="specification3"   placeholder="规格名" isvalid="yes" checkexpession="NotNull">
						</div>
					</div>
					<div class="form-group">
						<label  class="col-sm-3 control-label">货品售价</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="price"  placeholder="货品售价">
						</div>
					</div>
					<div class="form-group">
						<label  class="col-sm-3 control-label">货品数量</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="number"  placeholder="货品数量">
						</div>
					</div>

				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
				<button type="button" class="btn btn-primary" onclick="vm.productSubmit()">
					提交
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>

<!-- 商品参数 模态框（Modal） -->
<div class="modal fade" id="attributeModal" tabindex="-1" role="dialog" aria-labelledby="attributeModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="attributeModalLabel">
					规格设置
				</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label class="col-sm-3 control-label">商品参数名称</label>
						<div class="col-sm-9">
							<input type="text"  class="form-control" id="attribute"   placeholder="商品参数名称" isvalid="yes" checkexpession="NotNull">
						</div>
					</div>
					<div class="form-group">
						<label  class="col-sm-3 control-label">商品参数值</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="value4"  placeholder="商品参数值">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
				<button type="button" class="btn btn-primary" onclick="vm.attributeSubmit()">
					提交
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>

<div th:include="include/footer_js::footer"></div>
<script th:src="@{/js/mall/goods/list.js}"></script>
</body>
</html>