<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_css::header('类目表')"></head>
<style>
	.layui-upload-img {
		width: 92px;
		height: 92px;
		margin: 0 10px 10px 0;
	}
</style>
<body>
	<div id="dpLTE" class="container-fluid" v-cloak>
		<table class="form" id="form">
			<tr>
	            <td class="formTitle">类目名称<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="类目名称" v-model="liteMallCategory.name" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">类目关键字<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="类目关键字，以JSON数组格式" v-model="liteMallCategory.keywords" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<!--<tr>-->
	            <!--<td class="formTitle">类目广告语介绍<font face="宋体">*</font></td>-->
	            <!--<td class="formValue">-->
					<!--<input type="text" class="form-control" placeholder="类目广告语介绍" v-model="liteMallCategory.desc" isvalid="yes" checkexpession="NotNull">-->
	            <!--</td>-->
        	<!--</tr>-->
			<tr>
	            <td class="formTitle">级别<font face="宋体">*</font></td>
	            <td class="formValue">
					<select v-model="liteMallCategory.level" class="form-control"  style = "width:200px;" isvalid="yes" checkexpession="NotNull">
						<option value="L1">一级类目</option>
						<option value="L2">二级类目</option>
					</select>
				</td>
        	</tr>
			<tr v-if="liteMallCategory.level === 'L2'">
				<td class="formTitle">父类目<font face="宋体">*</font></td>
				<td class="formValue">
					<select v-model="liteMallCategory.pid" class="form-control"  style = "width:200px;" isvalid="yes" checkexpession="NotNull">
						<option value="">请选择</option>
					     <option v-for="opt in categoryDatas" :value="opt.id">{{opt.name}}</option>
					</select>
				</td>
			</tr>
			<tr>
				<input id="iconUrl" type="hidden" v-model="liteMallCategory.iconUrl" >
				<td class="formTitle" style=" vertical-align:top; padding-top:15px">类目图标<font face="宋体">*</font></td>
	            <td class="formValue">
					<div class="layui-upload-list"  id="test1">
						<img class="layui-upload-img" id="demo1">
						<p id="demoText"></p>
					</div>
				</td>
        	</tr>
			<tr>
				<input id="picUrl" type="hidden" v-model="liteMallCategory.picUrl" >
				<td class="formTitle" style=" vertical-align:top; padding-top:15px">类目图片<font face="宋体">*</font></td>
				<td class="formValue">
					<div class="layui-upload-list"  id="test2">
						<img class="layui-upload-img" id="demo2">
						<p id="demoText2"></p>
					</div>
				</td>
			</tr>
			<tr>
	            <td class="formTitle">排序<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="排序" v-model="liteMallCategory.sortOrder" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
		</table>
	</div>
	<div th:include="include/footer_js::footer"></div>
	<script th:src="@{/js/mall/category/add.js}"></script>
</body>
</html>