<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_css::header('类目表')"></head>
<body>
	<div id="dpLTE" class="container-fluid" v-cloak>
		<table class="form" id="form">
			<tr>
	            <td class="formTitle">类目名称<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="类目名称" v-model="liteMallCategory.name" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">类目关键字<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="类目关键字，以JSON数组格式" v-model="liteMallCategory.keywords" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
				<td class="formTitle">级别<font face="宋体">*</font></td>
				<td class="formValue">
					<select v-model="liteMallCategory.level" class="form-control"  style = "width:200px;" isvalid="yes" checkexpession="NotNull" @change="selectChange">
						<option value="L1">一级类目</option>
						<option value="L2">二级类目</option>
					</select>
				</td>
			</tr>
			<tr v-if="liteMallCategory.level === 'L2'">
				<td class="formTitle">父类目<font face="宋体">*</font></td>
				<td class="formValue">
					<select v-model="liteMallCategory.pid" class="form-control"  style = "width:200px;" isvalid="yes" checkexpession="NotNull">
						<option value="">请选择</option>
						<option v-for="opt in categoryDatas" :value="opt.id">{{opt.name}}</option>
					</select>
				</td>
			</tr>
			<tr>
	            <td class="formTitle">类目图标<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="类目图标" v-model="liteMallCategory.iconUrl" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">类目图片<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="类目图片" v-model="liteMallCategory.picUrl" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">排序<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="排序" v-model="liteMallCategory.sortOrder" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
		</table>
	</div>
	<div th:include="include/footer_js::footer"></div>
	<script th:src="@{/js/mall/category/edit.js}"></script>
</body>
</html>