<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_css::header('搜索历史表')"></head>
<body>
	<div id="dpLTE" class="container-fluid" v-cloak>
		<table class="form" id="form">
			<tr>
	            <td class="formTitle">用户ID<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="用户表的用户ID" v-model="liteMallSearchHistory.userId" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">搜索关键字<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="搜索关键字" v-model="liteMallSearchHistory.keyword" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">搜索来源<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="搜索来源，如pc、wx、app" v-model="liteMallSearchHistory.from" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
		</table>
	</div>
	<div th:include="include/footer_js::footer"></div>
	<script th:src="@{/js/mall/history/edit.js}"></script>
</body>
</html>