<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_css::header('用户表')"></head>
<body>
	<div id="dpLTE" class="container-fluid" v-cloak>
		<table class="form" id="form">
			<tr>
	            <td class="formTitle">用户名称<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="用户名称" v-model="liteMallUser.username" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">用户密码<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="用户密码" v-model="liteMallUser.password" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">性别：0 未知， 1男， 1 女<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="性别：0 未知， 1男， 1 女" v-model="liteMallUser.gender" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">生日<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="生日" v-model="liteMallUser.birthday" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">最近一次登录时间<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="最近一次登录时间" v-model="liteMallUser.lastLoginTime" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">最近一次登录IP地址<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="最近一次登录IP地址" v-model="liteMallUser.lastLoginIp" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">0 普通用户，1 VIP用户，2 高级VIP用户<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="0 普通用户，1 VIP用户，2 高级VIP用户" v-model="liteMallUser.userLevel" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">用户昵称或网络名称<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="用户昵称或网络名称" v-model="liteMallUser.nickname" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">用户手机号码<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="用户手机号码" v-model="liteMallUser.mobile" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">用户头像图片<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="用户头像图片" v-model="liteMallUser.avatar" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">微信登录openid<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="微信登录openid" v-model="liteMallUser.weixinOpenid" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">0 可用, 1 禁用, 2 注销<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="0 可用, 1 禁用, 2 注销" v-model="liteMallUser.status" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">创建时间<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="创建时间" v-model="liteMallUser.addTime" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">更新时间<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="更新时间" v-model="liteMallUser.updateTime" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">逻辑删除<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="逻辑删除" v-model="liteMallUser.deleted" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
		</table>
	</div>
	<div th:include="include/footer_js::footer"></div>
	<script th:src="@{/js/mall/user/add.js}"></script>
</body>
</html>